{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog</title>
    <link rel="stylesheet" href="{%static 'base.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
</head>
<body>
    <div>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home'%}">Job Viewer</a></h1>
            </div>
            <div class="nav-left">
                <h1><a href="{% url 'paper_home'%}">Paper Viewer</a></h1>
            </div>
            <div class="nav-right">
                <h1><a href="{% url 'post_new'%}">+ New Job Post</a></h1>
            </div>
            <div class="nav-right"> 
                <h1><a href="{% url 'paper_new'%}"> + New Paper Post</a></h1> 
            </div>
        </header>   
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>