{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="w3-container w3-center w3-margin-top" id="table_box">
    <table class="w3-table-all w3-hoverable w3-third" id="table">
        <tr>
            <td>Status: {{object.status}}</td>
        </tr>
        <tr>
            <td>Job Name: {{object.job_name}}</td>
        </tr>
        <tr>
            <td>Notes: {{object.notes}}</td>
        </tr>
        <tr>
            <td>Client: {{object.client}}</td>
        </tr>
        <tr>
            <td>Starting Time: {{object.start_time}}</td>
        </tr>
        <tr>
            <td>End Time: {{object.end_time}}</td>
        </tr>
        <tr>
            <td>Paper: {{object.paper}}</td>
        </tr>
        <tr>
            <td>Copies: {{object.copies}}</td>
        </tr>
        <tr>
            <td>Sides: {{object.sides}}</td>
        </tr>
        <tr>
            <td>Is oversized: {{object.oversized}}</td>
        </tr>
        <tr>
            <td>Has color: {{object.color}}</td>
        </tr>
        <tr>
            <td>Mark up: {{object.mark_up}}</td>
        </tr>
        <tr>
            <td>Finishing: {{object.finishing}}</td>
        </tr>
        <tr>
            <td>Packaging: {{object.package}}</td>
        </tr>
    </table>
    <div>
        <a class="w3-button w3-black w3-margin-top" href="{%url 'post_edit' object.pk%}">+ Edit Job</a>  
        <a class="w3-button w3-black w3-margin-top" href="{%url 'post_delete' object.pk%}">+ Delete Job</a>
    </div>  
</div>
    
{% endblock content %}