{% extends 'base.html' %}
{%load static%}
<div>
    <header>
        <div class="w3-bar w3-black w3-xlarge">
            <img src="blog/static/images/Oxford_Printing_White.png" alt="OXP Logo" style="width:60%" class="w3-left w3-padding w3-mobile " >
        </div> 
        <div  class="w3-bar w3-black w3-xlarge">
            <a href="{% url 'home'%}" class="w3-bar-item w3-button w3-mobile w3-padding-16">View Jobs</a>
        </div> 
        <div class="w3-bar w3-black w3-xlarge">
            <a href="{% url 'paper_home'%}" class="w3-bar-item w3-button w3-mobile w3-padding-16 ">View Paper</a>
        </div> 
        <div class="w3-bar w3-black w3-xlarge">
            <a href="{% url 'post_new'%}" class="w3-bar-item w3-button w3-mobile w3-padding-16 w3-right-align">Add Job</a>
        </div> 
        <div class="w3-bar w3-black w3-xlarge">
            <a href="{% url 'paper_new'%}" class="w3-bar-item w3-button w3-mobile w3-padding-16 w3-right-align">Add paper</a>
        </div>             
    </header>   
</div>
{% block content %}
    <div class="post-entry">
        <h2>{{object.job_name}}</h2>
        <p>Notes: {{object.notes}}</p>
        <p>Client: {{object.client}}</p>
        <p>Starting Time: {{object.start_time}}</p>
        <p>End Time: {{object.end_time}}</p>
        <p>Paper: {{object.paper}}</p>
        <p>Copies: {{object.copies}}</p>
        <p>Sides: {{object.sides}}</p>
        <p>Is oversized: {{object.oversized}}</p>
        <p>Has color: {{object.color}}</p>
        <p>Mark up: {{object.mark_up}}</p>
        <p>Finishing: {{object.finishing}}</p>
        <p>Packaging: {{object.package}}</p>
    </div>

    <a href="{%url 'post_edit' object.pk%}">+ Edit Job </a>
    <a href="{%url 'post_delete' object.pk%}">+ Delete Job</a>
{% endblock content %}