{% extends 'base.html' %}
{%load static%}
{% block content %}

    <div class="w3-container w3-center w3-margin-top" id="table_box">
        <table class="w3-table-all w3-hoverable w3-third" id="table">
            <tr>
                <td>Name: {{object.paper_name}}</td>
            </tr>
            <tr>
                <td>Cost: ${{object.cost}}</td>
            </tr>
        </table>
        <div>
            <a class="w3-button w3-black w3-margin-top" href="{%url 'post_paper_edit' object.pk%}">+ Edit Paper</a>  
            <a class="w3-button w3-black w3-margin-top" href="{%url 'post_paper_delete' object.pk%}">+ Delete Paper</a>
        </div>  
    </div>
{% endblock content %}